{% extends 'base.html' %}
{% block title %}ShopBot Flask Debug Page{% endblock %}
{% block scripthead %}
{% endblock %}
{% block content %}
    <h1>ShopBot</h1>
    <img src="{{img}}" style="height:200px;">
    <h2>{{message1}}</h2>
    <h2>{{message2}}</h2>
    <h2>{{message3}}</h2>
    <button class="ping" type="button">Wake RASA server on Heroku up</button>
    <h2 id="status"></h2>

    <script type="text/javascript" src="/static/js/jquery-1.12.1.min.js"></script>

{% endblock %}

{% block extrascripts %}
<script src="/static/js/plugins.js"></script>
{% include "_kommunicate.html" %}
{% endblock %}
